In [2]:
import nsfg
df = nsfg.ReadFemPreg()
df

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,6.1875
13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000
13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000

In [3]:
df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [15]:
id = 2
print(f"Preg in week: {df['prglngth'].iloc[id]}")
print(f"Outcome: {df['outcome'].iloc[id]}")
print(f"No.of Preg: {df['pregordr'].iloc[id]}")
print(f"No.of birth: {df['birthord'].iloc[id]}")
print(f"Birth Weight in lb: {df['birthwgt_lb'].iloc[id]}")
print(f"Birth Weight in oz: {df['birthwgt_oz'].iloc[id]}")
print(f"Total Weight = weight_lb + weight_oz/16: {df['totalwgt_lb'].iloc[id]}")
print(f"Mother Age: {df['agepreg'].iloc[id]}")
print(f"Group Weight: {df['finalwgt'].iloc[id]}")

Preg in week: 39
Outcome: 1
No.of Preg: 1
No.of birth: 1.0
Birth Weight in lb: 9.0
Birth Weight in oz: 2.0
Total Weight = weight_lb + weight_oz/16: 9.125
Mother Age: 14.33
Group Weight: 12999.542264385902

In [23]:
#Validation
print(df['outcome'])
print(df['outcome'].count()) # counts the number
print(df['outcome'].value_counts()) # tells the count for each and every category
print(df['outcome'].value_counts().sort_index())

0        1
1        1
2        1
3        1
4        1
        ..
13588    1
13589    2
13590    2
13591    1
13592    1
Name: outcome, Length: 13593, dtype: int64
13593
1    9148
4    1921
2    1862
6     352
5     190
3     120
Name: outcome, dtype: int64
1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [ ]:
df.birthwgt_lb.value_counts(sort=False)